@charset "UTF-8";
@font-face {
  font-family: "Bridge Type";
  src: url("../fonts/Bridge Type - UEFA Euro 2020.eot");
  src: local("☺"), url("../fonts/Bridge Type - UEFA Euro 2020.woff") format("woff"), url("../fonts/Bridge Type - UEFA Euro 2020.ttf") format("truetype"), url("../fonts/Bridge Type - UEFA Euro 2020.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pfbeausanspro-light";
  src: url("../fonts/pfbeausanspro-light.eot");
  src: local("☺"), url("../fonts/pfbeausanspro-light.woff") format("woff"), url("../fonts/pfbeausanspro-light.ttf") format("truetype"), url("../fonts/pfbeausanspro-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pfbeausanspro-regular";
  src: url("../fonts/pfbeausanspro-reg.eot");
  src: local("☺"), url("../fonts/pfbeausanspro-reg.woff") format("woff"), url("../fonts/pfbeausanspro-reg.ttf") format("truetype"), url("../fonts/pfbeausanspro-reg.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?k9mwq4");
  src: url("../fonts/icons.eot?k9mwq4#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?k9mwq4") format("truetype"), url("../fonts/icons.woff?k9mwq4") format("woff"), url("../fonts/icons.svg?k9mwq4#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-next:before {
  content: "\e906";
}

._icon-play:before {
  content: "\e907";
}

._icon-arrow:before {
  content: "\e908";
}

._icon-user:before {
  content: "\e909";
}

._icon-alter .path1:before {
  content: "\e900";
  color: #0b8d00;
}

._icon-alter .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #d80027;
}

._icon-goal:before {
  content: "\e902";
  color: #ffffff;
}

._icon-red:before {
  content: "\e903";
  color: #d80027;
}

._icon-stop:before {
  content: "\e904";
  color: #ffffff;
}

._icon-yellow:before {
  content: "\e905";
  color: #fff45c;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

p,
ul,
ol {
  padding: 0;
  margin: 0;
}

body,
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-width: 280px;
  overflow-x: hidden;
  position: relative;
  font-family: "pfbeausanspro-light", sans-serif;
  color: #ffffff;
  overflow: auto;
}

body.lock {
  overflow: hidden;
}

body._lock {
  overflow: hidden;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding-top: 74px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.scroll-top {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  z-index: 100;
  cursor: pointer;
  background-color: #028ca0;
  border-radius: 50%;
  border: none;
  padding: 0;
  height: 40px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.scroll-top._icon-arrow:before {
  font-size: 40px;
  color: #f7a62a;
}

._show-top {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 11;
  background-color: #028ca0;
  overflow: auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

@media (max-width: 849px) {
  .header__sub-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__item-user {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px;
  z-index: 20;
  display: block;
}

.header__item-user._icon-user {
  font-size: 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 850px) {
  .header__menu-icon {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 849px) {
  .header__menu-icon {
    z-index: 30;
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px;
  }
  .header__menu-icon span,
  .header__menu-icon span::before,
  .header__menu-icon span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-top: -0.8px;
    margin-left: -12.5px;
    background-color: #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__menu-icon span::before,
  .header__menu-icon span::after {
    content: "";
  }
  .header__menu-icon span:before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .header__menu-icon span:after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}

.user-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__wrapper {
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.logo__svg {
  width: calc(100px + 50 * (100vw / 1440));
  position: relative;
  z-index: 30;
}

.menu {
  position: relative;
}

@media (min-width: 850px) {
  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media (min-width: 849px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  .menu__list {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    padding: 95px 10px 10px 10px;
    text-align: center;
    background-color: #028ca0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 15;
  }
  .menu__list::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 74px;
    background-color: #028ca0;
    z-index: 20;
  }
}

.menu__list-item {
  margin: 0 3px;
  padding: 10px 0;
}

.menu__list-link {
  font-size: 17px;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__list-link:after {
  content: "";
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
  height: 1.6px;
  background-color: #f7a62a;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 849px) {
  ._active-burger span {
    height: 0;
    margin-top: 0.05px;
  }
  ._active-burger span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  ._active-burger span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  ._active-nav {
    left: 0;
  }
}

._pc .logo:hover #logo__svg {
  fill: #f7a62a;
}

._pc .menu__list-link:hover {
  color: #f7a62a;
}

._pc .menu__list-link:hover::after {
  opacity: 1;
  visibility: visible;
}

._pc .header__item-user:hover._icon-user {
  color: #f7a62a;
}

._pc .header__menu-icon {
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

._pc .header__menu-icon:hover span,
._pc .header__menu-icon:hover span::before,
._pc .header__menu-icon:hover span::after {
  background-color: #f7a62a;
}

._pc .footer__list-link:hover {
  color: #f7a62a;
}

._pc .pravacy__link:hover {
  color: #ffffff;
}

._pc .popup__close:hover {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

._pc .social__btn:first-child:hover {
  background-color: #4468b6;
}

._pc .social__btn:last-child:hover {
  background-color: #eef2f5;
}

._pc .social__btn:active {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

._pc .form__button:hover {
  background-color: #017b8d;
}

._pc .form__button:active {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

._pc .change__btn:hover {
  color: #ffffff;
  background-color: #028ca0;
}

._pc .change__btn:active {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

._pc .form__forget:hover {
  color: #028ca0;
}

._pc .game__link:hover::after {
  visibility: visible;
  opacity: 1;
}

._pc .stage__btn:hover::after {
  visibility: visible;
  opacity: 1;
}

._pc .sub-menu__inner .swiper-button-next:hover,
._pc .sub-menu__inner .swiper-button-prev:hover {
  background-color: #028ca0;
  border: 2px solid #028ca0;
}

._pc .sub-menu__inner .swiper-button-next:hover::after,
._pc .sub-menu__inner .swiper-button-prev:hover::after {
  color: #ffffff;
}

._pc .stages__inner .swiper-button-next:hover,
._pc .stages__inner .swiper-button-prev:hover {
  background-color: #028ca0;
  border: 2px solid #028ca0;
}

._pc .stages__inner .swiper-button-next:hover::after,
._pc .stages__inner .swiper-button-prev:hover::after {
  color: #ffffff;
}

._pc .main-new__link:hover .main-new__text {
  color: #f7a62a;
}

._pc .column .swiper-button-next:hover,
._pc .column .swiper-button-prev:hover {
  background-color: #ffffff;
}

._pc .column .swiper-button-next:hover::after,
._pc .column .swiper-button-prev:hover::after {
  color: #028ca0;
}

._pc .column__btn:hover {
  color: #028ca0;
  background-color: #ffffff;
}

._pc .column__link:hover {
  color: #f7a62a;
}

._pc .column__link:hover .column__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

._pc .teams__link:hover .teams__flag {
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
          filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

._pc .table__team:hover .table__flag {
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
          filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
}

._pc .cities__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #9c3e82;
}

._pc .videos .swiper-button-next:hover,
._pc .videos .swiper-button-prev:hover {
  background-color: #028ca0;
}

._pc .videos .swiper-button-next:hover::after,
._pc .videos .swiper-button-prev:hover::after {
  color: #ffffff;
}

._pc .scroll-top:hover {
  background-color: #03bcd8;
}

._pc .matches__link:hover {
  background-color: #f1f4f7;
}

._pc .match__video:hover::before {
  color: #f7a62a;
}

#logo__svg {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.footer {
  background-color: #028ca0;
}

.footer__inner {
  padding: 30px 0 25px 0;
}

.footer__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media (max-width: 800px) {
  .footer__column {
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
  }
}

@media (max-width: 600px) {
  .footer__column {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
}

@media (max-width: 600px) {
  .footer__column {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.footer__logo-wrapper {
  margin: 0 10px 15px 0;
}

.footer__logo {
  display: inline-block;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (auto)[4];
      grid-template: repeat(2, 1fr)/repeat(4, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .footer__list {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (auto)[2];
        grid-template: repeat(4, 1fr)/repeat(2, auto);
  }
}

@media (max-width: 350px) {
  .footer__list {
    -ms-grid-rows: (1fr)[8];
    -ms-grid-columns: (auto)[1];
        grid-template: repeat(8, 1fr)/repeat(1, auto);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.footer__list-link {
  padding-left: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__pravacy {
  color: #b4c1c5;
  font-size: 14px;
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.footer__pravacy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.4;
  background-color: #b4c1c5;
}

.pravacy__link {
  padding: 5px 0 0 0;
  margin: 0 5px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.pravacy__info {
  padding: 5px 0 0 0;
  margin: 0 10px;
}

.list__footer-item {
  padding-bottom: 10px;
}

.list__footer-item:nth-child(7) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.list__footer-item:nth-child(8) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 600px) {
  .list__footer-item:nth-child(7) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .list__footer-item:nth-child(8) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@media (max-width: 350px) {
  .list__footer-item {
    text-align: end;
  }
  .list__footer-item:nth-child(7) {
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .list__footer-item:nth-child(8) {
    -ms-grid-row: 8;
        grid-row-start: 8;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.logo__full {
  width: 60px;
  height: 68.4px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  z-index: 2000;
}

.popup.open .popup__window {
  -webkit-transform: translate(0, 0) scale(1, 1);
          transform: translate(0, 0) scale(1, 1);
  opacity: 1;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  overflow: auto;
}

.popup__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media (max-width: 400px) {
  .popup__content {
    padding: 0;
  }
}

.popup__window {
  max-width: 380px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  opacity: 0;
  -webkit-transform: translate(0, -20%) scale(0.1, 0.1);
          transform: translate(0, -20%) scale(0.1, 0.1);
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (max-width: 400px) {
  .popup__window {
    min-width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 7px 7px 7px 7px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.icon-close {
  width: 15px;
  height: 15px;
}

.form {
  color: #5a6366;
  margin: 0 10px;
}

.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 9, 12, 0.6) url("../images/tenor.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
}

.form._sending::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 400px) {
  .form {
    width: 100%;
  }
}

.form__title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
}

.form__or {
  color: #b4c1c5;
  text-align: center;
  position: relative;
  padding: 10px 0;
}

.form__or::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40%;
  height: 1px;
  background-color: #b4c1c5;
}

.form__or::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 40%;
  height: 1px;
  background-color: #b4c1c5;
}

.form__or.or::after {
  width: 26%;
}

.form__or.or::before {
  width: 26%;
}

.form__box-input {
  margin: 40px 0 30px 0;
  position: relative;
}

.form__input {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #b4c1c5;
  outline: none;
  line-height: 24px;
  width: 100%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.form__input:hover {
  border-bottom: 2px solid #5a6366;
}

.form__input:focus {
  border-bottom: 2px solid #028ca0;
}

.form__box-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  padding-top: 5px;
}

.form__forget {
  margin: 10px 0 10px 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.form__button {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #028ca0;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 10px auto;
}

@media (min-width: 401px) {
  .form__button {
    width: 320px;
  }
}

.social__block {
  margin: 10px auto;
}

.social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  line-height: 30px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.social__btn:first-child {
  background-color: #3b5998;
  color: #ffffff;
  margin-bottom: 10px;
}

.social__icon {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.placehorder-label {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 8px;
  color: #5a6366;
  font-size: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
}

._focus-input {
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
  font-size: 13px;
}

._label-active {
  opacity: 1;
  visibility: visible;
}

.show-password-btn {
  position: absolute;
  cursor: pointer;
  border: none;
  background: #ffffff;
  width: 24px;
  height: 20px;
  top: 5px;
  right: 28px;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.show-password-btn::after {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
  width: 24px;
  height: 1.2px;
  background-color: #5a6366;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.show-password-btn.show-in {
  right: 3px;
}

._focus-btn {
  opacity: 1;
  visibility: visible;
}

._active-show::after {
  opacity: 0;
}

.keep__checkbox {
  margin: 0 5px 0 0;
  cursor: pointer;
}

.chackbox__label {
  cursor: pointer;
}

.box-chek__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.change__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  line-height: 30px;
  color: #028ca0;
  border: 2px solid #028ca0;
  border-radius: 2px;
  text-align: center;
  margin: 10px auto;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.helper-text {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #b4c1c5;
  border: 3px solid #ffffff;
  cursor: help;
}

.helper-check {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  border: 3px solid #ffffff;
  cursor: help;
  background-color: #008015;
}

.tippy-box[data-theme~="white"] {
  background-color: #e2f0f3;
  color: #5a6366;
  font-size: 12px;
  font-weight: normal;
}

.tippy-box[data-theme~="white"] .tippy-arrow {
  color: #e2f0f3;
}

.checkbox__link {
  color: #028ca0;
  display: inline-block;
  margin-bottom: 25px;
  font-weight: 600;
}

.errors {
  position: absolute;
  top: 30px;
  font-size: 12px;
  left: 0;
}

.box-chek__input .errors {
  top: 60px;
  left: 18px;
}

._null {
  color: #c90000;
}

._active {
  border-bottom: 2px solid #c90000;
}

._active:focus {
  border-bottom: 2px solid #028ca0;
}

._valid {
  border-bottom: 2px solid #008015;
}

._valid:focus {
  border-bottom: 2px solid #008015;
}

.video__content {
  padding: 0;
}

.video__window {
  background-color: transparent;
  max-width: 880px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.video__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(880px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(880px, 1fr));
}

@media (max-width: 890px) {
  .video__body {
    -ms-grid-columns: (minmax(95vw, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(95vw, 1fr));
  }
}

.video__wrapper {
  position: relative;
  padding: 0 0 56.25% 0;
}

.video__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.close-video {
  top: -40px;
}

._result {
  color: #5a6366;
  padding: 50px;
  text-align: center;
}

._result p {
  padding: 20px 0;
}

._result button {
  padding: 0;
  border: none;
  width: 100px;
  height: 40px;
  background-color: #008015;
  color: white;
}

.sub-menu {
  max-height: 120px;
}

@media (min-width: 600px) {
  .sub-menu__swiper {
    max-width: 1300px;
  }
}

@media (min-width: 600px) and (max-width: 1440px) {
  .sub-menu__swiper {
    max-width: calc(200px + 1100 * ((100vw - 320px) / (1440 - 320)));
  }
}

.sub-menu__inner {
  position: relative;
}

.sub-menu__inner .swiper-button-next:after,
.sub-menu .swiper-button-prev:after {
  color: #0084a4;
  font-size: 14px;
  font-weight: 800;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.sub-menu__inner .swiper-button-next {
  width: 40px;
  height: 40px;
  border: 2px solid #0084a4;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 0;
}

.sub-menu__inner .swiper-button-next::after {
  padding-left: 3px;
}

.sub-menu__inner .swiper-button-prev {
  width: 40px;
  height: 40px;
  border: 2px solid #0084a4;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
}

.sub-menu__inner .swiper-button-prev::after {
  padding-right: 3px;
}

@media (max-width: 599px) {
  .sub-menu__inner .swiper-button-prev,
  .sub-menu .swiper-button-next {
    opacity: 0;
    visibility: hidden;
  }
}

.game {
  position: relative;
}

.game:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #5a6366;
  opacity: 0.1;
  top: 0;
  left: -10%;
}

.game__link {
  color: #5a6366;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 10px;
  display: block;
}

.game__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: calc(100% + 40px);
  height: 117px;
  background-color: rgba(211, 211, 211, 0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.game__time {
  display: block;
  margin-bottom: 15px;
}

.game__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.game__flag {
  margin-right: 5px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
}

.game__score {
  margin-left: auto;
}

.news {
  background: url("../images/backgroundbl.webp") 0 0/cover no-repeat;
}

.news__inner {
  padding: calc(15px + 15 * ((100vw - 280px) / (1420 - 280))) 0;
}

.news__wrapper {
  margin: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-new {
  overflow: hidden;
  width: 62%;
  height: 600px;
  position: relative;
}

.main-new__link:hover .main-new__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-new__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.main-new__field {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(4, 107, 122, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 20px 35px;
  width: 100%;
}

.main-new__text {
  font-size: calc(15px + 9 * (100vw / 1440));
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.top-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-head__title {
  font-family: "Bridge Type", sans-serif;
  font-size: calc(20px + 10 * (100vw / 1440));
  font-weight: 400;
  margin-right: 20px;
  letter-spacing: 0.1em;
}

.top-head__logo {
  width: calc(30px + 20 * (100vw / 1440));
}

.column {
  margin-left: 30px;
  max-height: 600px;
  max-width: 35%;
  position: relative;
}

.column__swiper {
  height: 540px;
}

.column__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0 20px 0;
}

.column__block-img {
  height: 90px;
  min-width: 30%;
  max-width: 30%;
  overflow: hidden;
}

.column__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.column__text {
  margin: 0 15px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column__time {
  margin-bottom: 10px;
}

.column__name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.column__navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 43px;
  right: 0;
  bottom: -5px;
}

.column .swiper-button-next {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.column .swiper-button-prev {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.column .swiper-button-next::after,
.column .swiper-button-prev::after {
  color: #fffffd;
  font-size: 14px;
  font-weight: 800;
  padding-left: 3px;
}

.column .swiper-button-prev::after {
  padding: 0 3px 0 0;
}

.column__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 22px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

@media (max-width: 1000px) {
  .news__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-new {
    width: 100%;
    height: 100%;
  }
  .column {
    max-width: 100%;
    margin: calc(15px + 20 * ((100vw - 280px) / (1000 - 280))) 0 0 0;
  }
  .column__swiper {
    height: 510px;
  }
  .column__link {
    padding: 0 0 15px 0;
  }
}

@media (max-width: 390px) {
  .column__navigation {
    width: 110px;
  }
}

@media (max-width: 340px) {
  .column__btn {
    font-size: 14px;
    padding: 10px;
  }
}

.teams__inner {
  padding: calc(15px + 15 * ((100vw - 280px) / (1420 - 280))) 0;
}

.teams__inner._init ._icon-next::before {
  opacity: 1;
  visibility: visible;
}

.teams__inner._init ._close-spr._icon-next::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.teams__head {
  color: #017b8d;
  padding: 0;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.teams__head._icon-next::before {
  font-weight: 900;
  font-size: 24px;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  opacity: 0;
  visibility: hidden;
}

.teams__title {
  font-family: "Bridge Type", sans-serif;
  font-size: calc(20px + 10 * (100vw / 1440));
  font-weight: 400;
  letter-spacing: 0.1em;
}

.teams__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(2, 1fr)/repeat(12, 1fr);
  margin-bottom: 10px;
}

@media (max-width: 1360px) {
  .teams__list {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[8];
        grid-template: repeat(3, 1fr)/repeat(8, 1fr);
  }
}

@media (max-width: 1000px) {
  .teams__list {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[6];
        grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  }
}

@media (max-width: 705px) {
  .teams__list {
    -ms-grid-rows: (1fr)[6];
    -ms-grid-columns: (1fr)[4];
        grid-template: repeat(6, 1fr)/repeat(4, 1fr);
  }
}

@media (max-width: 530px) {
  .teams__list {
    -ms-grid-rows: (1fr)[8];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(8, 1fr)/repeat(3, 1fr);
  }
}

@media (max-width: 380px) {
  .teams__list {
    -ms-grid-rows: (1fr)[12];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(12, 1fr)/repeat(2, 1fr);
  }
}

.teams__block {
  margin-top: 20px;
  padding: 0 5px;
}

.teams__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams__flag {
  width: 45px;
  height: 45px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.teams__name {
  color: #017b8d;
  margin-top: 10px;
  text-align: center;
}

.groups {
  background: url("../images/bggroup.webp") center no-repeat fixed;
  position: relative;
}

@media (max-width: 1000px) {
  .groups {
    background-attachment: scroll;
  }
}

.groups__mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 132, 164, 0.5);
}

.groups__inner {
  padding: calc(15px + 15 * ((100vw - 280px) / (1420 - 280))) 0;
}

@media (max-width: 899px) {
  .groups__inner {
    padding: 20px 0;
    height: 679px;
  }
}

.groups__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

@media (max-width: 1300px) {
  .groups__wrapper {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
}

@media (max-width: 899px) {
  .groups__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.groups__wrapper._init .groups__head {
  border-radius: 3px;
}

.groups__wrapper._init .groups__head._close-spr {
  border-radius: 3px 3px 0 0;
}

.groups__wrapper._init ._icon-next::before {
  opacity: 1;
  visibility: visible;
}

.groups__wrapper._init ._close-spr._icon-next::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.groups__block {
  margin: 36.5px auto;
}

@media (max-width: 1440px) {
  .groups__block {
    margin: calc(10.5px + 26 * ((100vw - 1300px) / (1440 - 1300))) auto;
  }
}

@media (max-width: 1300px) {
  .groups__block {
    margin: 20px 20px 20px auto;
  }
  .groups__block:nth-child(even) {
    margin: 20px auto 20px 20px;
  }
}

@media (max-width: 899px) {
  .groups__block {
    margin: 10px 0;
  }
  .groups__block:nth-child(even) {
    margin: 5px 0;
  }
}

@media (max-width: 440px) {
  .groups__block {
    width: 100%;
  }
}

.groups__head {
  color: #ffffff;
  padding: 0 20px;
  border: none;
  background-color: #480049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 400px;
  line-height: 45px;
  border-radius: 3px 3px 0 0;
}

.groups__head._icon-next::before {
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  right: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 899px) {
  .groups__head {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 440px) {
  .groups__head {
    width: 100%;
  }
}

.table {
  width: 400px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 0 0 3px 3px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-collapse: collapse;
  line-height: 45px;
  color: #017b8d;
}

@media (max-width: 440px) {
  .table {
    width: 100%;
  }
}

.table__head {
  background-color: #ffffff;
}

.table__head th {
  text-align: start;
}

.table__body tr {
  border-bottom: 1px solid #ffffff;
}

.table__body tr:last-child {
  border-bottom: 1px solid transparent;
}

.table__body th {
  padding: 0 5px;
  text-align: start;
}

.table__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table__flag {
  margin-right: 10px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.cities {
  position: relative;
}

@media (min-width: 706px) {
  .cities {
    background: url("../images/euromap.webp") center/cover no-repeat;
  }
}

.cities__inner {
  padding: calc(15px + 15 * ((100vw - 280px) / (1420 - 280))) 0;
}

.cities__inner._init ._icon-next::before {
  opacity: 1;
  visibility: visible;
}

.cities__inner._init ._close-spr._icon-next::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.cities__head {
  margin-bottom: calc(30px + 14 * ((100vw - 1000px) / (1920 - 1000)));
  color: #017b8d;
  padding: 0;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

@media (min-width: 706px) {
  .cities__head {
    width: 250px;
    height: 160px;
    background-color: #7f3269;
    display: inline-block;
    position: relative;
    color: #ffffff;
    -webkit-box-shadow: 0px 10px 0px #c7d64f;
            box-shadow: 0px 10px 0px #c7d64f;
  }
}

@media (max-width: 1440px) {
  .cities__head {
    width: calc(166px + 84 * ((100vw - 1000px) / (1440 - 1000)));
    height: calc(106px + 54 * ((100vw - 1000px) / (1440 - 1000)));
  }
}

@media (max-width: 1000px) {
  .cities__head {
    width: calc(166px + 84 * ((100vw - 705px) / (1000 - 705)));
    height: calc(106px + 54 * ((100vw - 705px) / (1420 - 705)));
    margin-bottom: 0;
  }
}

@media (max-width: 705px) {
  .cities__head {
    width: 100%;
    height: auto;
  }
}

.cities__head._icon-next::before {
  font-weight: 900;
  font-size: 24px;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  opacity: 0;
  visibility: hidden;
}

.cities__title {
  font-family: "Bridge Type", sans-serif;
  font-size: calc(20px + 10 * (100vw / 1440));
  font-weight: 400;
  letter-spacing: 0.1em;
}

.cities__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[5];
      grid-template: repeat(4, 1fr)/repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px 0;
  margin: 0 0 -35px 0;
}

@media (max-width: 1000px) {
  .cities__list {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    padding: 30px 40px;
  }
}

@media (max-width: 705px) {
  .cities__list {
    -ms-grid-rows: (1fr)[6];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    padding: 30px 0px;
  }
}

.cities__cart {
  margin-bottom: calc(30px + 14 * ((100vw - 1000px) / (1920 - 1000)));
}

@media (max-width: 1000px) {
  .cities__cart {
    margin-bottom: 20%;
  }
}

@media (min-width: 1000px) {
  .cities__cart:nth-child(5) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .cities__cart:nth-child(6) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .cities__cart:nth-child(7) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .cities__cart:nth-child(8) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .cities__cart:nth-child(9) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .cities__cart:nth-child(10) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .cities__cart:nth-child(11) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.cities__link {
  position: relative;
  width: 250px;
  height: 160px;
  background-color: #7f3269;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 0 0;
  font-size: 17px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0px 10px 0px #c7d64f;
          box-shadow: 0px 10px 0px #c7d64f;
}

@media (max-width: 1440px) {
  .cities__link {
    width: calc(166px + 84 * ((100vw - 1000px) / (1420 - 1000)));
    height: calc(106px + 54 * ((100vw - 1000px) / (1420 - 1000)));
  }
}

@media (max-width: 1000px) {
  .cities__link {
    width: calc(166px + 84 * ((100vw - 705px) / (1000 - 705)));
    height: calc(106px + 54 * ((100vw - 705px) / (1420 - 705)));
  }
}

@media (max-width: 705px) {
  .cities__link {
    width: calc(116px + 134 * ((100vw - 280px) / (705 - 280)));
    height: calc(86px + 74 * ((100vw - 280px) / (705 - 280)));
  }
}

.cities__background {
  overflow: hidden;
  height: calc(90px + 20 * ((100vw - 1000px) / (1920 - 1000)));
}

.cities__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.cities__mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f7a62a;
  opacity: 0;
}

.cities__name {
  text-align: center;
}

@media (max-width: 1000px) {
  .for-btn {
    margin-bottom: 20%;
  }
}

@media (max-width: 705px) {
  .for-btn {
    display: none;
  }
}

.glasgow {
  top: 36%;
  left: 41%;
}

.videos {
  position: relative;
}

.videos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b4c1c5;
  opacity: 0;
}

@media (max-width: 706px) {
  .videos::after {
    opacity: 0.5;
  }
}

.videos__inner {
  padding: 30px 0;
}

.videos__head {
  position: relative;
}

.videos__title {
  color: #017b8d;
}

.videos__swiper {
  margin-top: 20px;
}

.videos__text {
  margin: 10px 0;
  color: #017b8d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.videos__link {
  max-width: 320px;
}

.videos__preview {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.videos__preview._icon-play:before {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
}

.videos__preview::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017b8d;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.videos__preview:hover::after {
  opacity: 0.5;
}

.videos__preview:hover._icon-play:before {
  color: #f7a62a;
  z-index: 10;
}

.videos__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos__navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 43px;
  right: -10px;
  top: -10%;
}

.videos .swiper-button-next {
  width: 40px;
  height: 40px;
  border: 2px solid #028ca0;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.videos .swiper-button-prev {
  width: 40px;
  height: 40px;
  border: 2px solid #028ca0;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.videos .swiper-button-next::after,
.videos .swiper-button-prev::after {
  color: #028ca0;
  font-size: 14px;
  font-weight: 800;
  padding-left: 3px;
}

.videos .swiper-button-prev::after {
  padding-right: 6px;
}

.videos__inner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 390px) {
  .videos__navigation {
    width: 110px;
  }
}

._active-link::after {
  opacity: 1;
  visibility: visible;
  background-color: #ffffff;
}

.menu__list-link._active-link:hover {
  color: #ffffff;
}

.main-games {
  background-color: #f0f0f0;
  position: relative;
}

.main-games::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7) url("../images/tenor.gif") center/50px no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.main-games._loading::after {
  opacity: 1;
  visibility: visible;
}

.stages {
  max-height: 120px;
}

@media (min-width: 280px) {
  .stages__swiper {
    max-width: 1300px;
  }
}

@media (min-width: 280px) and (max-width: 1440px) {
  .stages__swiper {
    max-width: calc(200px + 1100 * ((100vw - 320px) / (1440 - 320)));
  }
}

.stages__inner {
  position: relative;
}

.stages__inner .swiper-button-next:after,
.stages .swiper-button-prev:after {
  color: #0084a4;
  font-size: 14px;
  font-weight: 800;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.stages__inner .swiper-button-next {
  width: 40px;
  height: 40px;
  border: 2px solid #0084a4;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 0;
}

.stages__inner .swiper-button-next::after {
  padding-left: 3px;
}

.stages__inner .swiper-button-prev {
  width: 40px;
  height: 40px;
  border: 2px solid #0084a4;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
}

.stages__inner .swiper-button-prev::after {
  padding-right: 3px;
}

.stage {
  position: relative;
  padding: 30px 5px;
  text-align: center;
  -webkit-box-shadow: inset 0px -4px 0px #b4c1c5;
          box-shadow: inset 0px -4px 0px #b4c1c5;
}

.stage._active-tab {
  -webkit-box-shadow: inset 0px -4px 0px #c7d64f;
          box-shadow: inset 0px -4px 0px #c7d64f;
}

.stage._active-tab .stage__btn::after {
  opacity: 1;
  visibility: visible;
}

.stage__btn {
  border: none;
  background-color: inherit;
  color: #000;
  padding: 0;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
}

.stage__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.stage__text {
  font-family: "Pfbeausanspro-regular";
}

.stage__date {
  font-family: "pfbeausanspro-light";
  font-size: 13px;
  font-weight: 300;
}

.matches__inner {
  padding: calc(15px + 20 * ((100vw - 280px) / (1420 - 280))) 0 calc(25px + 45 * ((100vw - 280px) / (1420 - 280)));
  color: #000;
}

.matches__title {
  font-size: 20px;
  margin: 35px 0 15px 0;
}

.matches__cart {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 10px;
}

.matches__link {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr 0.3fr;
      grid-template-columns: 0.3fr 1fr 0.3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (max-width: 1000px) {
  .matches__link {
    -ms-grid-columns: 0.2fr 1fr 0.1fr;
        grid-template-columns: 0.2fr 1fr 0.1fr;
  }
}

.matches__info {
  padding-left: 10px;
}

.info-text {
  font-size: 16px;
  font-family: "Pfbeausanspro-regular";
}

.info-location {
  font-size: 14px;
}

.match {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 1fr;
}

.match__extra {
  font-size: 12px;
  font-family: "pfbeausanspro-light";
}

.match__team-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.match__team-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.match__name {
  padding: 0 10px;
}

.match__flag {
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
}

.match__score {
  font-family: "Bridge Type";
  color: #000;
  font-size: 24px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match__video {
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
  padding: 10px;
  border-radius: 50%;
}

.match__video._icon-play::before {
  font-size: 30px;
  color: #017b8d;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 706px) {
  .stage {
    padding: 15px 5px;
  }
  .matches__info {
    display: none;
  }
  .match__video {
    display: none;
  }
  .matches__link {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 15px 5px;
  }
  .match__flag {
    width: 25px;
    height: 25px;
  }
  .match__score {
    font-size: 18px;
  }
}

@media (max-width: 340px) {
  .match {
    font-size: 13px;
  }
}

.match-top {
  color: #5a6366;
}

.match-top__inner {
  padding: 30px 0;
  text-align: center;
}

.match-top__stage {
  letter-spacing: 2px;
}

.match-top__location {
  letter-spacing: 1px;
}

.match-top__teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.match-top__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match-top__name {
  font-size: 30px;
  color: #017b8d;
  padding: 0 10px;
  font-family: "Bridge Type";
  letter-spacing: 2px;
}

.match-top__flag {
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
}

.match-top__score {
  padding: 20px 30px;
  position: relative;
}

.match-top__main-score {
  font-family: "Bridge Type";
  color: #000;
  font-size: 30px;
}

.match-top__extra {
  color: #5a6366;
  position: absolute;
}

.timeline {
  background: url("../images/backgroundDark02M.webp");
}

.timeline__inner {
  padding: 50px 25px 0 25px;
}

.line {
  position: relative;
  height: 2px;
  background-color: #f7a62a;
  margin: 10px auto;
  max-width: 1000px;
}

.line__flag {
  position: absolute;
  width: 23px;
  height: 23px;
  left: -25px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
}

.line__event {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.line._icon-stop:before {
  position: absolute;
  right: -30px;
  font-size: 20px;
  top: -10px;
}

.top-event {
  top: -6px;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #f7a52a transparent;
}

.bottom-event {
  top: 2px;
  border-width: 6px 5px 0 5px;
  border-color: #f7a52a transparent transparent transparent;
}

.event-time-top {
  position: relative;
}

.event-time-top._icon-goal::before {
  position: absolute;
  top: -30px;
  font-size: 20px;
  left: -10px;
}

.event-time-top._icon-yellow::before {
  position: absolute;
  top: -30px;
  font-size: 20px;
  left: -7px;
}

.event-time-top._icon-red::before {
  position: absolute;
  top: -30px;
  font-size: 20px;
  left: -7px;
}

.event-time-bottom {
  position: relative;
}

.event-time-bottom._icon-goal::before {
  position: absolute;
  top: 5px;
  font-size: 20px;
  left: -10px;
}

.event-time-bottom._icon-yellow::before {
  position: absolute;
  top: 5px;
  font-size: 20px;
  left: -7px;
}

.event-time-bottom._icon-red::before {
  position: absolute;
  top: 5px;
  font-size: 20px;
  left: -7px;
}

.flag1 {
  top: -30px;
}

.flag2 {
  top: 10px;
}

@media (max-width: 600px) {
  .match-top__inner {
    padding: 20px 0;
  }
  .match-top__teams {
    margin-top: 0;
  }
  .match-top__name {
    font-size: 20px;
    padding: 0 10px;
    letter-spacing: 1px;
  }
  .match-top__flag {
    width: 35px;
    height: 35px;
  }
  .match-top__score {
    padding: 15px 20px;
  }
  .match-top__main-score {
    font-size: 22px;
  }
  .match-top__extra {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .match-top__name {
    font-size: 18px;
    padding: 0 5px;
  }
  .match-top__flag {
    width: 30px;
    height: 30px;
  }
  .match-top__score {
    padding: 15px 10px;
  }
  .match-top__main-score {
    font-size: 20px;
  }
  .match-top__extra {
    font-size: 10px;
  }
}

.tabs__title {
  margin-top: 60px;
}

.tabs__btn {
  border: none;
  background-color: transparent;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
  padding: 14px 30px 10px;
  cursor: pointer;
}

.tabs__btn._active-tabs {
  background-color: #ffffff;
  color: #000;
}

.part__inner {
  padding: 30px 0;
}

.part__events {
  display: none;
}

.part__events._show-part {
  display: block;
}

.squad {
  padding: 30px 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.squad__field {
  background-color: #14792d;
  width: 500px;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.squad__first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.squad__first .squad__player {
  background-color: blue;
}

.squad__player {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.squad__second .squad__player {
  background-color: red;
}
