//variables
$cbl: #028ca0;
$cbl2: #017b8d;
$cog: #f7a62a;
$cdg: #5a6366;
$clg: #b4c1c5;
$cvp: #480049;
$cvt: #7f3269;
$csl: #c7d64f;

//mixins
//@mixin sizes($selector, $start, $increase, $maxw) {
//    $selector: calc($start + $increase * (100vw / $maxw));
//}
//calc(200px + 1100 * ((100vw - 320px) / (1440 - 320)));

//reset
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

p,
ul,
ol {
    padding: 0;
    margin: 0;
}

body,
button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}

//main
html,
body {
    height: 100%;
}

body {
    min-width: 280px;
    overflow-x: hidden;
    position: relative;
    font-family: "pfbeausanspro-light", sans-serif;
    color: #ffffff;
    overflow: auto;
    &.lock {
        overflow: hidden;
    }
    &._lock {
        overflow: hidden;
    }
}
.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 74px;
}
.main {
    flex: 1;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}
.scroll-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 100;
    cursor: pointer;
    background-color: $cbl;
    border-radius: 50%;
    border: none;
    padding: 0;
    height: 40px;
    transition: background-color 0.3s;
    &._icon-arrow:before {
        font-size: 40px;
        color: $cog;
    }
}
._show-top {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}
