._pc {
    & .logo:hover {
        & #logo__svg {
            fill: $cog;
        }
    }
    & .menu__list-link:hover {
        color: $cog;
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
    & .header__item-user:hover {
        &._icon-user {
            color: $cog;
        }
    }
    & .header__menu-icon {
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            & span,
            & span::before,
            & span::after {
                background-color: $cog;
            }
        }
    }
    & .footer__list-link:hover {
        color: $cog;
    }
    & .pravacy__link:hover {
        color: #ffffff;
    }
    & .popup__close:hover {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    & .social__btn:first-child:hover {
        background-color: #4468b6;
    }
    & .social__btn:last-child:hover {
        background-color: #eef2f5;
    }
    & .social__btn:active {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
}
#logo__svg {
    transition: fill 0.3s;
}
