._pc {
    & .logo:hover {
        & #logo__svg {
            fill: $cog;
        }
    }
    & .menu__list-link:hover {
        color: $cog;
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
    & .header__item-user:hover {
        &._icon-user {
            color: $cog;
        }
    }
    & .header__menu-icon {
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            & span,
            & span::before,
            & span::after {
                background-color: $cog;
            }
        }
    }
    & .footer__list-link:hover {
        color: $cog;
    }
    & .pravacy__link:hover {
        color: #ffffff;
    }
    & .popup__close:hover {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    & .social__btn:first-child:hover {
        background-color: #4468b6;
    }
    & .social__btn:last-child:hover {
        background-color: #eef2f5;
    }
    & .social__btn:active {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
    & .form__button:hover {
        background-color: $cbl2;
    }
    & .form__button:active {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
    & .change__btn:hover {
        color: #ffffff;
        background-color: $cbl;
    }
    & .change__btn:active {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
    & .form__forget:hover {
        color: $cbl;
    }
    & .game__link:hover::after {
        visibility: visible;
        opacity: 1;
    }
    & .sub-menu__inner .swiper-button-next:hover,
    .sub-menu__inner .swiper-button-prev:hover {
        background-color: $cbl;
        border: 2px solid $cbl;
        &::after {
            color: #ffffff;
        }
    }
    & .main-new__link:hover .main-new__text {
        color: $cog;
    }
    & .column .swiper-button-next:hover,
    .column .swiper-button-prev:hover {
        background-color: #ffffff;
        &::after {
            color: $cbl;
        }
    }
    & .column__btn:hover {
        color: $cbl;
        background-color: #ffffff;
    }
    & .column__link:hover {
        color: $cog;
        & .column__img {
            transform: scale(1.1);
        }
    }
    & .teams__link:hover .teams__flag {
        filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
        transform: scale(1.1);
    }
    & .table__team:hover {
        & .table__flag {
            filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
        }
        & .table__name {
            color: $cvp;
        }
    }
    & .cities__link:hover {
        transform: scale(1.1);
        background-color: #9c3e82;
    }
    & .videos .swiper-button-next:hover,
    .videos .swiper-button-prev:hover {
        background-color: $cbl;
        &::after {
            color: #ffffff;
        }
    }
}
#logo__svg {
    transition: fill 0.3s;
}
