.news {
    background: url("../images/backgroundbl.webp") 0 0 / cover no-repeat;
    &__inner {
        padding: calc(15px + 15 * ((100vw - 280px) / (1420 - 280))) 0;
    }
    &__wrapper {
        margin: 10px 0 0;
        display: flex;
        justify-content: space-between;
    }
}
.main-new {
    overflow: hidden;
    width: 62%;
    height: 600px;
    position: relative;
    &__link:hover .main-new__img {
        transform: scale(1.1);
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s;
    }
    &__field {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        background: rgba(4, 107, 122, 0.6);
        backdrop-filter: blur(4px);
        padding: 20px 35px;
        width: 100%;
    }
    &__text {
        font-size: calc(15px + 9 * (100vw / 1440));
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        transition: color 0.3s;
    }
}
.top-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        font-family: "Bridge Type", sans-serif;
        font-size: calc(20px + 10 * (100vw / 1440));
        font-weight: 400;
        margin-right: 20px;
        letter-spacing: 0.1em;
    }
    &__logo {
        width: calc(30px + 20 * (100vw / 1440));
    }
}
.column {
    margin-left: 30px;
    max-height: 600px;
    max-width: 35%;
    position: relative;
    &__swiper {
        height: 540px;
    }
    &__link {
        display: flex;
        justify-content: flex-start;
        padding: 0 0 20px 0;
    }
    &__block-img {
        height: 90px;
        min-width: 30%;
        max-width: 30%;
        overflow: hidden;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
    }
    &__text {
        margin: 0 15px 0 10px;
        display: flex;
        flex-direction: column;
    }
    &__time {
        margin-bottom: 10px;
    }
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__navigation {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        height: 43px;
        right: 0;
        bottom: -5px;
    }
    & .swiper-button-next {
        width: 40px;
        height: 40px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        transition: 0.3s;
    }
    & .swiper-button-prev {
        width: 40px;
        height: 40px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        transition: 0.3s;
    }
    & .swiper-button-next::after,
    .swiper-button-prev::after {
        color: #fffffd;
        font-size: 14px;
        font-weight: 800;
        padding-left: 3px;
    }
    & .swiper-button-prev::after {
        padding: 0 3px 0 0;
    }
    &__btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 25px;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 22px;
        transition: color 0.3s, background-color 0.3s;
    }
}
@media (max-width: 1000px) {
    .news__wrapper {
        flex-wrap: wrap;
    }
    .main-new {
        width: 100%;
        height: 100%;
    }
    .column {
        max-width: 100%;
        margin: calc(15px + 20 * ((100vw - 280px) / (1000 - 280))) 0 0 0;
        &__swiper {
            height: 510px;
        }
        &__link {
            padding: 0 0 15px 0;
        }
    }
}
@media (max-width: 390px) {
    .column__navigation {
        width: 110px;
    }
}
@media (max-width: 340px) {
    .column__btn {
        font-size: 14px;
        padding: 10px;
    }
}
