.popup.open {
    opacity: 1;
    visibility: visible;
    z-index: 2000;
    & .popup__window {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
    }
}
.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    backdrop-filter: blur(4px);
    visibility: hidden;
    transition: transform 0.3s linear;
    overflow: auto;
    &__content {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        @media (max-width: 400px) {
            padding: 0;
        }
    }
    &__window {
        max-width: 380px;
        background-color: #ffffff;
        padding: 20px;
        position: relative;
        transition: transform 0.3s linear;
        opacity: 0;
        transform: translate(0, -20%) scale(0.1, 0.1);
        border-radius: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        @media (max-width: 400px) {
            min-width: 100vw;
            min-height: 100vh;
            border-radius: 0;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 7px 7px 7px 7px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}
.icon-close {
    width: 15px;
    height: 15px;
}
.form {
    color: $cdg;
    margin: 0 10px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(10, 9, 12, 0.6) url("../images/tenor.gif") center / 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        z-index: 100;
    }
    &._sending::after {
        opacity: 1;
        visibility: visible;
    }
    @media (max-width: 400px) {
        width: 100%;
    }
    &__title {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
    }
    &__or {
        color: $clg;
        text-align: center;
        position: relative;
        padding: 10px 0;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 40%;
            height: 1px;
            background-color: $clg;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 40%;
            height: 1px;
            background-color: $clg;
        }
        &.or {
            &::after {
                width: 26%;
            }
            &::before {
                width: 26%;
            }
        }
    }
    &__box-input {
        margin: 40px 0 30px 0;
        position: relative;
    }
    &__input {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $clg;
        outline: none;
        line-height: 24px;
        width: 100%;
        transition: border-color 0.3s;
        &:hover {
            border-bottom: 2px solid $cdg;
        }
        &:focus {
            border-bottom: 2px solid $cbl;
        }
    }
    &__box-check {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        padding-top: 5px;
    }
    &__forget {
        margin: 10px 0 10px 10px;
        transition: color 0.3s;
    }
    &__button {
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 2px;
        background-color: $cbl;
        color: #ffffff;
        padding: 0;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 10px auto;
        @media (min-width: 401px) {
            width: 320px;
        }
    }
}
.social {
    &__block {
        margin: 10px auto;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        line-height: 30px;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
        &:first-child {
            background-color: #3b5998;
            color: #ffffff;
            margin-bottom: 10px;
        }
    }
    &__icon {
        margin-right: 10px;
        width: 17px;
        height: 17px;
    }
}
.placehorder-label {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8px;
    color: $cdg;
    font-size: 15px;
    transition: transform 0.3s;
    pointer-events: none;
}
._focus-input {
    transform: translateY(-26px);
    font-size: 13px;
}
._label-active {
    opacity: 1;
    visibility: visible;
}
.show-password-btn {
    position: absolute;
    cursor: pointer;
    border: none;
    background: #ffffff;
    width: 24px;
    height: 20px;
    top: 5px;
    right: 28px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    &::after {
        position: absolute;
        top: 9px;
        left: 0;
        content: "";
        width: 24px;
        height: 1.2px;
        background-color: $cdg;
        transform: rotate(45deg);
        transition: 0.3s;
    }
    &.show-in {
        right: 3px;
    }
}
._focus-btn {
    opacity: 1;
    visibility: visible;
}
._active-show::after {
    opacity: 0;
}
.keep__checkbox {
    margin: 0 5px 0 0;
    cursor: pointer;
}
.chackbox__label {
    cursor: pointer;
}
.box-chek__input {
    display: flex;
    position: relative;
}
.change__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    line-height: 30px;
    color: $cbl;
    border: 2px solid $cbl;
    border-radius: 2px;
    text-align: center;
    margin: 10px auto;
    transition: color 0.3s, background-color 0.3s;
}
.helper-text {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #ffffff;
    background-color: $clg;
    border: 3px solid #ffffff;
    cursor: help;
}
.helper-check {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #ffffff;
    border: 3px solid #ffffff;
    cursor: help;
    background-color: rgb(0, 128, 21);
}
.tippy-box[data-theme~="white"] {
    background-color: #e2f0f3;
    color: $cdg;
    font-size: 12px;
    font-weight: normal;
}
.tippy-box[data-theme~="white"] .tippy-arrow {
    color: #e2f0f3;
}
.checkbox__link {
    color: $cbl;
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 600;
}

.errors {
    position: absolute;
    top: 30px;
    font-size: 12px;
    left: 0;
}
.box-chek__input .errors {
    top: 60px;
    left: 18px;
}
._null {
    color: rgb(201, 0, 0);
}
._active {
    border-bottom: 2px solid rgb(201, 0, 0);
}
._active:focus {
    border-bottom: 2px solid $cbl;
}
._valid {
    border-bottom: 2px solid rgb(0, 128, 21);
}
._valid:focus {
    border-bottom: 2px solid rgb(0, 128, 21);
}
.video__content {
    padding: 0;
}
.video__window {
    background-color: transparent;
    max-width: 880px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.video__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(880px, 1fr));
    @media (max-width: 890px) {
        grid-template-columns: repeat(auto-fit, minmax(95vw, 1fr));
    }
}
.video__wrapper {
    position: relative;
    padding: 0 0 56.25% 0;
}
.video__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.close-video {
    top: -40px;
    @media (max-width: 400px) {
        top: 10px;
    }
}
._result {
    color: $cdg;
    padding: 50px;
    text-align: center;
    & p {
        padding: 20px 0;
    }
    & button {
        padding: 0;
        border: none;
        width: 100px;
        height: 40px;
        background-color: rgb(0, 128, 21);
        color: white;
    }
}
